---
export interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content="Mike DelGaudio - Software Engineer" />
    <meta
      name="description"
      content="The personal website of Mike DelGaudio. Passionate front-end developer, writer, and advocate for all web UI."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content="Mike DelGaudio - Software Engineer" />
    <meta
      property="og:description"
      content="The personal website of Mike DelGaudio. Passionate front-end developer, writer, and advocate for all web UI."
    />
    <meta
      property="og:image"
      content="https://delgaudio.dev/social-cover.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta
      property="twitter:title"
      content="Mike DelGaudio - Software Engineer"
    />
    <meta
      property="twitter:description"
      content="The personal website of Mike DelGaudio. Passionate front-end developer, writer, and advocate for all web UI."
    />
    <meta
      property="twitter:image"
      content="https://delgaudio.dev/social-cover.jpg"
    />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J53EW5XVC8"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-J53EW5XVC8');
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
